PyTelegramBotAPI==3.6.7
django==3.0.7
django_heroku==0.3.1
Requests==2.23.0
Beautifulsoup4==4.8.2
lxml==4.5.0

aiohttp==2.3.10
aiohttp-jinja2==0.16.0
aiosocks==0.2.6
fake-useragent
jinja2
peewee-async==0.5.12
aiopg==0.16.0
recommonmark
sphinx_rtd_theme
sphinx
py_mini_racer
pytest
pytest-asyncio
termcolor
uvloop
geoip2
